body{
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(233, 241, 252);
    margin: 25px;
}

#timeline{
    padding: 25px;
}

#runs-list {
    height: 400px;
    padding-right: 50px;
    list-style-type: none;
    text-align: right;
    overflow: hidden;
    overflow-y: scroll;
}

single-run:hover{
    font-weight: bold;
}

#route_map{
    padding: 1em;
    height: 400px;
}