body{
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(233, 241, 252);
    margin: 25px;
}

#mileage{
    height: 100px;
}

#runs-list {
    height: 400px;
}

#route_map{
    padding: 1em;
    height: 400px;
}